*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Georgia",
    serif;

  color: #4b3a2f;

  background:
    radial-gradient(circle at top, #f9f3ec, #efe3d3);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,p {
  margin: 0;
}