*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Georgia",
    serif;

  color: #4b3a2f;

  background:
    radial-gradient(circle at top, #f9f3ec, #efe3d3);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,p {
  margin: 0;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}
